/* LAYOUT GRID */
.grid-container {
  box-sizing: border-box; /* csslint allow: box-sizing */
  display: grid;
  grid-column-gap: 24px; /* csslint allow: known-properties */
  grid-row-gap: 24px; /* csslint allow: known-properties */
  grid-template-columns:repeat(12, 1fr);
}
.wrapper {
  margin: 0 auto;
  padding: 24px; /* csslint allow: box-model */
  width: 720px;
}
.row {
  grid-column: 1 / -1;
}
/* TYPOGRAPHY */
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4,
.mdc-typography--headline5 {
  color: #283583;
  font-family: "ff-tisa-sans-web-pro";
  font-weight: 900;
}
.mdc-typography--body1 {
  font-family: "ff-tisa-sans-web-pro";
}
a {
  font-family: "ff-tisa-sans-web-pro";
}
.intro-paragraph	{
  color: #000;
  color: rgba(0, 0, 0, 0.57);
  font-size: 1.115rem;
  line-height: 2rem;
}
/* LISTS */
ul {
  padding: 0;
}
ul li {
  font-family: "ff-tisa-sans-web-pro";
  font-size: 1.115rem;
  list-style: none;
  margin: 16px 0;
}
/* BUTTONS */
.mdc-button {
  font-family: "ff-tisa-sans-web-pro";
}
.mdc-button:not(:disabled) {
  color: inherit;
}
.mdc-button::before, .mdc-button::after {
  background-color: #eee;
}
.mdc-fab {
  background: #ed1845;
}
.mdc-fab__label {
  font-family: "ff-tisa-sans-web-pro";
}
.scroll-button {
  display: block;
  font-size: 1.35em;
  font-weight: 500;
  height: auto;
  letter-spacing: normal;
  margin: 0 auto;
  opacity: 0.54;
  padding: 18px 16px 12px 16px;
  text-transform: none;
}
.scroll-button span, .scroll-button i {
  color: #fff;
  display: block;
}
.scroll-button:hover {
  opacity: 0.87;
}
/* PAGE TOP BAR */
.top-bar {
  align-items: center;
  background: #283583;
  color: #fff;
  display: flex;
}
.page-top-bar {
  padding: 12px 12px;
}
.frontpage-top-bar {
  padding: 16px 24px;
}
.top-bar-logo {
  padding: 0 8px;
}
.frontpage-top-bar .top-bar-logo img {
  height: 72px;
}
.page-top-bar .top-bar-logo img {
  height: 52px;
}
.top-bar-nav {
  margin-left: auto;
}
.top-bar-nav a {
  color: inherit;
  font-size: 1.115rem;
  font-weight: 500;
  letter-spacing: normal;
  opacity: 0.54;
  padding: 12px;
  text-decoration: none;
  text-transform: none;
  te
}
.top-bar-nav a:hover {
  opacity: 0.87;
}
.page-top-bar .top-bar-nav {
  font-size: 1.115rem;
}
.frontpage-top-bar .top-bar-nav a {
  font-size: 1.35rem;
}
.menu-button {
  display: none;
  font-weight: 500;
  margin-left: auto;
}
/* FRONTPAGE */
.frontpage-header {
  background: #283583;
  margin: 0 auto;
  padding: 24px; /* csslint allow: box-model */
  width: auto;
}
.frontpage-headline {
  color: #fff;
  font-family: "ff-tisa-sans-web-pro";
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5em;
  margin: 32.160px 0;
}
.frontpage-headline strong {
  color: #FAC0CC;
}
.frontpage-header-column {
  grid-column: 2 / 11;
}
/* FOOTER */
.main-footer {
  align-items: center;
  border-top: 1px solid #eee;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  text-align: center;
}
.main-footer-bottom {
  margin-top: 48px;
}
/* MEDIA RULES */
@media only screen and (max-width: 959px) {
  .frontpage-header-column {
    grid-column: 1 / -1;
  }
}
@media only screen and (max-width: 839px) {
  .grid-container {
    grid-template-columns:repeat(8, auto);
  }
  .wrapper {
    width: auto;
  }
}
@media only screen and (max-width: 719px) {
  .grid-container {
    grid-column-gap: 16px; /* csslint allow: known-properties */
  }
  .wrapper {
    padding: 16px;
  }
  .top-bar-nav {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .frontpage-headline {
    font-size: 2.75rem;
  }
  .top-bar-logo {
    padding: 0;
  }
  .frontpage-top-bar .top-bar-logo img {
    height: 60px;
  }
  .scroll-button {
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 599px) {
  .frontpage-headline {
    font-size: 2.25rem;
  }
}
@media only screen and (max-width: 479px) {
  .grid-container {
    grid-template-columns:repeat(4, auto);
  }
  .frontpage-headline {
    font-size: 2rem;
  }
}
