body {
  background: #283583;
  color: #ffffff;
  font-family: "ff-tisa-sans-web-pro";
  font-size: 18px;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}
h1 {
  font-size: 2.5em;
  font-weight: 800;
  line-height: 1.5em;
}
h1 strong {
  color: #edb7c2;
}
.menu li a {
  color: white;
  font-size: 1.35em;
}
.top-bar {
  background: #283583;
}
.top-bar ul {
  background: inherit;
}
.top-bar-title img {
  height: 3.5em;
}
